.paper {
  width: 80%;
  max-width: 500px;
  min-height: 200px;
  text-align: center;
  margin: 1rem auto;
  padding: .6rem;
  .paper-button {
    margin: 1rem 0;
  }
}
.home-menu {
  display: inline-block;
  float: left;
  text-align: left;
  margin: 1.5rem 1rem;
}
.home-list {
  width: 100%;
  box-sizing: border-box;
  padding-left: 352px;
}
.home-list-item {
  margin: 1rem;
  padding: 1rem;
}
.menu-divider {
  margin: 1rem !important;
}